
.ProgressBar {
    border: 1px solid orangered;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    div {
        height: 100%;
        background: orangered;
    }
}