.TimeBoxEditor {
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
    input {
     min-width: 60%;
     font-size: 16px;
     margin-left: 20px;   
    }
    button {
        max-width: 160px;
        font-size: 16px;
        margin-left: 10px;
        border: 1px solid orangered;
        background: white;
        border-radius: 10px;
        margin-top: 10px;
    }
}

.addNone, .changesNone {
    display: none;
}