.CurrentTimeBox {
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    button {
        max-width: 160px;
        font-size: 16px;
        margin-left: 10px;
        border: 1px solid orangered;
        background: white;
        border-radius: 10px;
    }
}

.inactive {
    filter: blur(2px) grayscale(1.2);
}