.TimeBoxEditor {
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
    input {
     min-width: 60%;
     font-size: 16px;
     margin-left: 20px;   
    }
    button {
        font-size: 16px;
        margin-left: 10px;
    }
}
.inactive {
    filter: blur(2px) grayscale(1.2);
}