.TimeBoxCreator {
    button {
        max-width: 160px;
        font-size: 16px;
        border: 1px solid orangered;
        background: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}